@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    min-width: 1280px;
}
.figma{
    width: 100%;
    height: 100vh;
    display: flex;
}
.figma iframe{
    width: 100%;
    height: 100%;
}